@font-face {
  font-family: 'Noto Sans KR';
  src: url('/assets/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: bold; /* Adjust font-weight as needed */
  font-style: normal; /* Adjust font-style as needed */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  margin-bottom: 12%;
  scroll-behavior: smooth;

}

.formContainer {
  position: fixed;
  width: 60%;
  margin-left: 13%;
  bottom: 0;
}

.example-full-width{
  width: 80%;
  margin-left: 10%;
}

.message-container {
  margin-bottom: 30px;
}


.message {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  display: inline-block;
  clear: both;
  word-wrap: break-word;
  max-width: 35%;

  font-family: 'Noto Sans KR';
}

.right-align {
  margin-right: 5%;
  text-align: right;
  float: right;
}

.left-align {
  margin-left: 5%;
  text-align: left;
  float: left;
}

mat-card-subtitle{
  color: #333;
}

/*
this hide the scrollbar
*/
*::-webkit-scrollbar {
  width: 0px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb {
  width: 0px !important;
  background-color: whitesmoke !important;
  border-radius: 0px !important;
}

*::-webkit-scrollbar:horizontal {
  width: 0px !important;
  background-color: white !important;
}

*::-webkit-scrollbar-thumb:horizontal {
  width: 0px !important;
  background-color: whitesmoke !important;
  border-radius: 0px;
}


