.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust this value as needed */
  max-width: 90%; /* Adjust this value as needed */
  margin: 0 auto;
  padding: 20px;
}

mat-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 0;
  margin-bottom: 10%;
  scroll-behavior: smooth;

}


.example-full-width {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 80%;
}


mat-list-item {
  margin-bottom: 30px;
}

.message {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  display: inline-block; /* Ensure messages are displayed in a block */
  clear: both; /* Clear float to prevent layout issues */
}

.right-align {
  text-align: right;
  float: right;
}

.left-align {
  text-align: left;
  float: left;
}
mat-card-subtitle{
  color: #333;
  margin-bottom: 20px;
}


