<h1>ACCOUNT SETTINGS</h1>

<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" type="password">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender" formControlName="gender">
      <mat-option value="male">Male</mat-option>

      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save Changes</button>
</form>
<!--
  USERNAME => you can change it
  EMAIL => you can change it
  PASSWORD => you can change it
  GENDER => you can change it
  BIO => you can change it
-->
