<h1>ACCOUNT SETTINGS</h1>
<p>In order to change this values, we need more checks...</p>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="container">
  <div>
    <a mat-raised-button href="/changePassword">Change password</a>
  </div>

  <div>
    <a mat-raised-button href="/changeEmail">Change email</a>
  </div>

  <p>Not filled gap will remain the same as before.</p>
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender" formControlName="gender">
      <mat-option value="male">Male</mat-option>

      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button (click)=" triggerSelectFile(fileInput) ">Select an image<input type="file" style="display: none;" #fileInput></button>
  </div>



  <button mat-raised-button color="primary" (click)="onSubmit()">Save Changes</button>
</form>
