<h1>ACCOUNT SETTINGS</h1>
<p>Change your account settings here.</p>
<p>Not filled gap will remain the same as before.</p>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="container">
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" type="password">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender" formControlName="gender">
      <mat-option value="male">Male</mat-option>

      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Bio" formControlName="bio"></textarea>
  </mat-form-field>


  <input type="file" id="ProfilePicture" (change)="onFileChange($event)" formControlName="ProfilePicture">


  <button mat-raised-button color="primary" (click)="onSubmit()">Save Changes</button>
</form>
