<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Password rules</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p>Password is at least <b>8 characters long</b>, contains at least <b>one uppercase letter</b>,<br><b>one lowercase letter</b>, <b>one number</b>, and <b>one special character</b>!</p>
	</div>
</ng-template>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Get a token to change password
      </mat-panel-title>
      <mat-panel-description>
        Type your email
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required (keydown.enter)="sendToken()">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button (click)="sendToken()" id="submit">Get new token</button>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- SECOND MAT-EXPANSION-PANEL-->
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Change your password
      </mat-panel-title>
      <mat-panel-description>
        Fill the required fields
        <mat-icon>question_exchange</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="firstFormGroup" label="Insert your token">
        <form [formGroup]="firstFormGroup">
          <mat-form-field>
            <mat-label>Enter your token</mat-label>
            <input matInput placeholder="..." formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Insert new password">
        <form [formGroup]="secondFormGroup">
          <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput formControlName="secondCtrl" [type]="hidePassword ? 'password' : 'text'" placeholder="Ex. 012345678" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Confirm new password">
        <form [formGroup]="thirdFormGroup">
          <mat-form-field>
            <mat-label>New password</mat-label>
            <input matInput formControlName="thirdCtrl" [type]="hidePassword ? 'password' : 'text'" placeholder="Ex. 012345678" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <button mat-button (click)="changePassword()">Confirm your settings</button>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<button class="btn btn-lg btn-outline-primary mb-2 me-2" id="passwordRules" (click)="openBottom(content)">Password rules</button>

<!--
  Require the token to change the password
    insert your email:
  Use the token you received in your email to change your password
    insert your token:
    insert your new password:
    confirm your new password:
  How do i prevent someone to make me send the email to a customer multiple times?
  Before sending the email, check if the user_id is already in the database,
  and then I check the date I sent it
-->
