<mat-toolbar id="container">
  <div class="left-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      PRIVATE CHAT
    </button>
  </div>
  <div class="right-content">
    <button mat-icon-button class="icon">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3><a href="/home">HOME</a></h3>
    <h3>CHATS</h3>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>CHAT</span>
      </mat-list-item>
      <mat-list-item>Stamperemo tutte le chat</mat-list-item>
      <mat-list-item>con ngfor</mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
