.example-stepper {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.mat-horizontal-stepper-header-container {
  height: auto;
}

.mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-content {
  flex: 1;
}

mat-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px; /* Add space above each mat-step */
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

button.mat-button {
  margin-top: 10px;
}

.mat-icon {
  cursor: pointer;
}

.center-a {
  display: flex;
  justify-content: center;
}

*{
  overflow: hidden;
}

