
<ng-template #verticalContent>
  <div>Make your screen larger to see a horizontal stepper</div>
</ng-template>

<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="firstFormGroup" label="Fill out your username">
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Ex. admin" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your email">
    <form [formGroup]="secondFormGroup">
      <mat-form-field [formGroup]="secondFormGroup">
        <mat-label>Email</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. example@gmail.com" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Fill out your password">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field [formGroup]="thirdFormGroup">
        <mat-label>Password</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Ex. 012345678" [type]="hidePassword ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div>
      <button mat-button (click)="createUser()">Confirm your settings</button>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
